*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,black, rgb(33, 8, 177));
    height: 100vh;
    color: #fff;
    font-family: "alkatra", sans-serif;
    text-align: center;
}


.titulo{
    padding-top: 90px;
    text-shadow: 6px 6px 6px #fff;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.206);
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 10px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 215px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

p{
    font-size: 10px;
    color: #fff;
    text-align: center;
}
